@{
    ViewBag.Title = "Búsqueda";
}
<h3>@ViewBag.Message</h3>

<div class="jumbotron">
    <h1>@ViewBag.Title.</h1>
    <p class="lead">Ingrese los datos de la persona a consultar.</p>
    <form role="form">
        <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Nombre">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Primer Apellido</label>
            <input type="text" class="form-control" id="apellido1" placeholder="Apellido">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Segundo Apellido</label>
            <input type="text" class="form-control" id="apellido2" placeholder="Apellido">
        </div>
        <button onclick="search()" class="btn btn-default">Buscar persona</button>
    </form>
</div>

<script>
    function search() {
        nombre = "nombre=" + document.getElementById("nombre").value;
        apellido1 = "apellido1=" + document.getElementById("apellido1").value;
        apellido2 = "apellido2=" + document.getElementById("apellido2").value;

        var getUrl = window.location;
        var baseUrl = getUrl.protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];

        window.location.replace(baseUrl + "/Person?" + nombre + "&" + apellido1 + "&" + apellido2);
    }
</script>
